[Unit]
Description=Planifie l'exécution de checkupdate.service toutes les 3 heures et au démarrage (15min)

[Timer]
OnBootSec=15min
OnUnitActiveSec=3h
Persistent=true

[Install]
WantedBy=timers.target
