[Unit]
Description=Vérifier la présence de mise à jour
After=graphical-session.target network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/fedupdate -c -n -0
Type=oneshot

[Install]
WantedBy=default.target
